<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinePlus</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Peliculas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinePlus.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    @RenderSection("Headers",false)
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">Cine +</div>
            <ul class="navbar-menu">
                <li><a href="@Url.Action("Index", "Pelicula")">Peliculas</a></li>
                <li><a href="@Url.Action("Index", "Puntuacion")">Puntuaciones</a></li>
            </ul>
        </nav>


    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <p>&copy; 2023 - CinePlus</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/notify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
